/* EstimateSheet.css */
.estimate-sheet {
  background-image: url('yumikou.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* 画面いっぱいに広げる */
  background-attachment: fixed;
  /* PCでは固定 */
  min-height: 100vh;
  padding: 0%;
  font-size: 1.2rem;
}





button {
  padding: 8px 16px;
  background: #32c8cb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #33bbb9;
}

/* メディアクエリもOK */
@media (max-width: 768px) {
  table {
    font-size: 0.8em;
  }

  th,
  td {
    padding: 4px;
  }

  .controls {
    flex-direction: column;
  }

  button {
    
    width:30%;
  }
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
   padding: 6px;
}

/* リンクスタイルの上書き */
.footer a {
  text-decoration: none;
  /* 下線を消す */
  color: #29bac5;
  /* 任意の色に変更（例: 濃いグレー） */
}

/* 任意：ホバー時の色変更 */
.footer a:hover {
  color: #007acc;
  /* ホバー時に色を変えたい場合 */
  text-decoration: underline;
  /* ホバー時に下線を戻したいなら */
}

.meta-info {
  text-align: center;
  margin: 1rem 0;
}

.meta-info label {
  font-weight: bold;
  font-size: 1rem;
}

.meta-info input {
  margin-left: 0.5rem;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 250px;
}

.options {
  font-size: 0.85em; /* 小さめ */
  color: #555;       /* お好みで色も控えめに */
}
