.row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 6px;

  background-color: transparent; /* 背景は透明 */
box-shadow: 0 2px 6px rgba(18, 112, 113, 0.1);
}

select,
input {
  font-size: 16px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 100px;
}

input[type="number"] {
  width: 100px;
}

button {
  font-size: 14px;
  padding: 4px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #c0392b;
}

span {
  font-size: 16px;
  font-weight: bold;
  min-width: 80px;
  text-align: right;
}

select.placeholder {
  color: #888; /* 灰色の文字 */
}

select.error {
  border: 1px solid red;
}
input.error {
  border: 1px solid red;
}


